#.gitignore file

# Python envs
.venv/
venv/
env/

# Build artifacts
build/
output/
dist/
*.egg-info/
pip-wheel-metadata/
.eggs/

# Caches
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Local env / editor
.env
.vscode/
.DS_Store

# Optional: Native extension artifacts
*.so

# Other
*.txt
